.header{
  
  background-color: maroon;
  color: white;
  padding-bottom: 70px;
  padding-left: 10px;
  padding-top: 10px;
}

.header h1{

text-decoration: underline;
text-align: center;



}

.projects {
  
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 70px;
  padding-left: 10px;
  color: white;
  
}

.projects h2 {

  text-align: center;
  text-decoration: underline;
  color: white;

}

.socials h2{

  text-align: center;
  color: white;
  text-decoration: underline;
}

a {

  color: white;


}



.title{
  
  font-weight: bold;
  color: white;
  text-decoration: underline;
  text-align: left;
}

p {

  padding-left: 10px;
}

.socials {
  
  background-color: maroon;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: white;
  
}

body{
  
  font-family: Helvetica;
}